* {
  padding: 0px;
  margin: 0px;
}

html {
  min-height: 100vh;
}
body {
  background-color: white;
}

header {
  background-color: red;
  color: black;
  width: 100%;
}
header h1 {
  padding: 1.5%;
  font-size: 2rem;
}
header ul {
  list-style: none;
  display: flex;
}
header li {
  padding: 1%;
  text-decoration: none;
}
header li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav li:hover {
  background-color: rgb(0, 4, 255);
  border-radius: 0.5%;
}
nav li:hover a {
  background-color: rgb(0, 4, 255);
  color: rgb(0, 217, 255);
  text-decoration: underline;
}
header div {
  background-color: orange;
  display: block;
  text-align: left;
}

.Main h2 {
  padding-left: 10vw;
}
.Main div {
  margin-top: 1vh;
}
.Main div a {
  padding: 2vw;
  font-size: 2vw;
}
.Main h2 {
  padding-top: 20vh;
}
.grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.Main img {
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  color: white;
}
footer div {
  background-color: green;
  width: 100%;
}
footer div ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style: none;
}
footer div ul li {
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vw;
}
footer a {
  color: rgb(82, 133, 243);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.dropdown-control {
  display: flex;
  justify-content: center;
}
.dropdown {
  display: none;
}
.dropdown-control:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  position: absolute;
  margin-top: 20px;
  background-color: rgb(0, 4, 255);
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
